<main-nav>
  <p
 class="Advertisement-form-heading">Advertisement</p>
 <form>
     <div class="form-group">
         <label>Title</label>
         <input type="text" class="form-control" placeholder="Enter title">
            </div>
         <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" placeholder="Enter Name">
         </div>
         <form>
             <label for="category">Category</label>
             <select name="category"id="category">
         <option value="furniture">Furniture</option>
         <option value="hardware">Hardware</option>
         <option value="mobile">Mobile</option>
        </select>
         </form>
         </div>
         <div class="form-group">
             <label>Description</label>
             <input type="text" class="form-control" placeholder="Enter Description">
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
         </form>
</main-nav>